<h1>Customer: <%= @customer.first_name %> <%= @customer.last_name %>, ID: <%= @customer.id %></h1>

<p>Phone Number: <%= @customer.phone_number %></p>

<h2>Customer appointments:</h2>

<% if @appointments.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <th scope="row"><%= appointment.id %></th>
          <td><%= appointment.start_time %></td>
          <td><%= appointment.end_time %></td>
          <td><%= link_to 'Edit', edit_customer_appointment_path(@customer, appointment) %></td>
          <td><%= link_to 'Destroy', customer_appointment_path(@customer, appointment),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <em>You currently have no appointments</em>
<% end %>

</br>

<%= link_to "Add a new appointment", new_customer_appointment_path(@customer), class: "btn btn-primary" %>
