<h1>Customer <%= @customer.id %>, <%= @customer.first_name %> <%= @customer.last_name %>.</h1>

<p>Phone Number: <%= @customer.phone_number %></p>
<p>Email: <%= @customer.email %></p>

<h2>Customer appointments:</h2>
</br>
<em>You currently have no appointments</em>
